@{
    Layout = "~/Views/Shared/_HomepageLayout.cshtml";
    ViewBag.Title = "Welcome to Inkling";
}

<body>
    @*Navigation Bar*@
    <nav class="nav-wraper grey lighten-1">
        <div class="container">
            <div class="left" id="logo">
                
            </div>

            <ul class="right hide-on-mid-and-down">
                <li><a href="">Home</a></li>
                <li><a href="">Main Library</a></li>
                <li><a href="">Request a Book</a></li>

            </ul>
        </div>

    </nav>

</body>
