<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="~/Content/materialize.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="~/Scripts/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <style>

    </style>
</head>

<body ng-app="FinalsApplication" ng-controller="FinalsController">
    <div>
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-3.7.0.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/AngularScripts/Module.js"></script>
    <script src="~/Scripts/AngularScripts/Controller.js"></script>
    <script src="~/Scripts/AngularScripts/Service.js"></script>
</body>
</html>
